@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
.blur {
  filter: blur(4px);
  pointer-events: none;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 350px;
  background-color: #212121;
  padding: 100px 30px 30px 30px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.nav-menu li {
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  margin: 15px 20px;
  cursor: pointer;
  color: #f56539;
  transition: 0.3s all ease-in;
}
.nav-menu li:hover {
  background-color: #f56539;
  color: #212121;
}
.nav-menu li:hover a,
.nav-menu li:hover i {
  color: #212121;
}
.nav-menu a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #f56539;
  font-weight: 500;
}
.nav-menu i {
  color: #f56539;
  font-size: 1.4rem;
  padding-right: 10px;
}
.nav-menu.active {
  transform: translateX(0);
}
.cut {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 24px;
  color: #f56539;
  cursor: pointer;
}

.bar {
  display: block;
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 1100;
}

.bar i {
  color: #fffefe;
  font-size: 1.5rem;
  transition: 0.3s all ease-in;
  cursor: pointer;
}

.bar i:hover {
  color: #f56539;
}
.profile-img {
  position: absolute;
  top: 150px;
  left: 330px;
  height: 400px;
  width: 400px;
  border-radius: 19rem;
  border: 1px solid #f26a44;
  box-shadow: rgba(245, 101, 57, 0.3) 0px 0px 30px;
  overflow: hidden;
  cursor: pointer;
}

.profile-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  transition: 0.4s all ease;
}

.profile-img:hover img {
  transform: scale(1.3);
  filter:blur(2px)  brightness(80%);
}

.container .left-c {
  background-color: #f56539;
  width: 35%;
  height: 100vh;
}
.container .right-c {
  background-color: #212121;
  width: 65%;
  height: 100vh;
}
.right-c {
  padding-left: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  padding-top: 150px;
}
.right-c h1 {
  width: 30%;
  font-size: 52px;
  line-height: 57px;
  font-weight: 600;
  color: #fffefe;
}
.right-c h2 {
  color: rgb(234, 234, 234);
  font-weight: 500;
  font-size: 20px;
}
.right-c p {
  font-size: 18px;
  font-weight: 500;
  color: #e1e0e0;
  padding-top: 15px;
  width: 70%;
}
.btn {
  display: flex;
  gap: 40px;
}
.btn button {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  border-radius: 40px;
  border: none;
  transition: 0.3s all ease-in;
  cursor: pointer;
}
.btn .contact {
  background-color: #f56539;
  color: black;
  border: 2px solid transparent;
}

.btn .cv {
  background-color: transparent;
  color: #f56539;
  border: 2px solid #f56539;
}
.btn .cv:hover {
  background-color: #fffefe;
  color: #212121;
  border: 2px solid transparent;
}
.btn .contact:hover {
  background-color: transparent;
  border: 2px solid #fffefe;
  color: #fffefe;
}
.left-c {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 50px;
}
.left-c h2 {
  font-family: "Great Vibes", cursive;
  font-size: 45px;
  font-weight: 700;
  color: #212121;
}
.icons {
  display: flex;
  gap: 15px;
}
.icons a i {
  font-size: 2rem;
  color: #212121;
  transition: 0.3s all ease-in;
}
.icons a i:hover {
  transform: scale(1.3);
}
.icons a {
  text-decoration: none;
  padding: 20px 10px;
}
.about {
  height: 100vh;
  width: 100%;
  background-color: #212121;
}
.line {
  padding-top: 20px;
  padding: 70px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.line1 {
  background-color: #f56539;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.line2 {
  background-color: #f56539;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.line3 {
  background-color: #f56539;
  height: 4px;
  border-radius: 40px;
  width: 85%;
}
.about-second {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 0 50px;
}
.about-image img {
  width: 400px;
  height: 500px;
  background-size: cover;
}
.about-content {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.about-content h1 {
  color: #f56539;
  font-size: 56px;
  line-height: normal;
  font-weight: 700;
  width: 60%;
}
.about-content p {
  color: #e1e0e0;
  font-size: 20px;
  font-weight: 400;
  width: 80%;
}
.education {
  background-color: #212121;
  width: 100%;
  padding: 0px 0 70px 0;
}
.education-section {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
.education h1 {
  font-size: 52px;
  color: #f56539;
  margin-left: 120px;
}
.logo {
  background-color: #f56539;
  padding: 5px 10px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
  color: #212121;
  position: absolute;
  left: -48px;
  top: 0;
}
.e-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #743927;
  margin: 20px auto;
  border-radius: 15px;
  padding: 15px;
  width: 90%;
  position: relative;
  height: 200px;
  transition: 0.3s all ease-in;
}
.e-card:hover {
  box-shadow: 0px 2px 2px 0px #f56539;
  background-color: #552a1d;
  cursor: pointer;
}
.e-card .e-content {
  width: 100%;
  color: #e1e0e0;
}
.e-content h2 {
  color: #e1e0e0;
}
.e-content p#duration {
  color: #f56539;
  font-weight: 600;
}
.e-content p#des {
  color: rgb(216, 215, 215);
  font-weight: 450;
  padding-top: 10px;
}
.education-image img {
  width: 500px;
  height: 600px;
  background-size: cover;
}
.e-line {
  height: 190px;
  width: 2px;
  background-color: #f56539;
  position: absolute;
  left: -30px;
  top: 0;
  border-radius: 30px;
}
.skills {
  height: 90vh;
  width: 100%;
  background-color: #212121;
  white-space: nowrap;
  overflow-x: hidden;
}
.skills h1#skill {
  color: #f56539;
  font-size: 50px;
  padding: 30px 0 150px 0;
  text-align: center;
}
.scroll-wrapper {
  width: 90%;
  overflow: hidden;
  padding: 20px 0;
  margin: auto;
}
.scroll-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  transition: 0.3s all ease-in;
}
.scroll-item:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.scroll-item img {
  width: 50px;
  height: 50px;
}
.scroll-item h1 {
  font-size: 18px;
  letter-spacing: -0.5;
  color: #fffefe;
}
.scroll-track {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: max-content;
  width: 90%;
  margin: auto;
}

.scroll-item {
  box-shadow: rgba(245, 101, 57, 0.3) 0px 0px 30px;
  min-width: 200px;
  margin-right: 20px;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
}

.project-section {
  background-color: #212121;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}
.project-section h1#main {
  font-size: 60px;
  color: #f56539;
  font-weight: 700;
  text-align: left;
  margin-left: 200px;
}
.project-card {
  width: 500px;
  background-color: #743927;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 60px;
  transition: 0.3s all ease;
}
.project-card:hover {
  box-shadow: 0px 2px 2px 0px #af644c;
}
.project-card h1 {
  color: #e1e0e0;
  font-size: 25px;
}
.project-card p {
  color: rgb(211, 209, 209);
  font-size: 18px;
  font-weight: 500;
}

.project-card .skill {
  margin-top: 10px;
  padding: 10px 0;
}
.p-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-btn a button {
  width: 50px;
  height: 50px;
  color: #212121;
  font-size: 1.4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #e1e0e0;
  margin-right: 20px;
  color: #212121;
  transition: 0.6s all ease;
}
.p-btn a {
  text-decoration: none;
}
.p-btn a button:hover {
  background-color: #212121;
  color: #f56539;
}
.p-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: -200px;
}
.p-section2 {
  margin-top: 700px;
}
.p-section img#img1 {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 250px;
  right: 300px;
  background-size: cover;
}
.p-section img#img2 {
  width: 400px;
  height: 300px;
  position: absolute;
  bottom: 100px;
  left: 250px;
  background-size: cover;
}

.certificate {
  width: 100%;
  background-color: #212121;
  padding-top: 60px;
}
.certificate h1 {
  color: #f56539;
  font-size: 52px;
  text-align: center;
}
.c-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 100px 0;
}
.c-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  box-shadow: rgba(245, 101, 57, 0.3) 0px 0px 30px;
  width: 430px;
  padding: 20px 10px;
  border-radius: 10px;
  transition: 0.3s all ease-in, box-shadow 0.3s ease;
}
.c-card img {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 5px;
  padding-left: 10px;
}
.c-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 15px;
}
.c-content h2 {
  color: #e1e0e0;
}
.c-content p {
  color: #f56539;
}

.c-card:hover {
  box-shadow: rgba(197, 88, 55, 0.7) 0px 5px 4px,
    rgba(17, 17, 17, 0.3) 0px 15px 10px;
  transform: translateY(-3px);
  cursor: pointer;
}
.contact-section {
  background-color: #212121;
  width: 100%;
}
.contact-section h1 {
  color: #f56539;
  font-size: 52px;
  padding-left: 150px;
}
.contact-list {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 50px 150px;
  gap: 80px;
}
.filler-contact {
  height: 500px;
  width: 400px;
}
.online-contact {
  height: 500px;
  width: 500px;
  margin-top: 30px;
}
.name {
  position: relative;
  margin: 20px;
  margin-left: 0;
  padding-bottom: 20px;
}

.name label {
  position: absolute;
  background-color: #212121;
  color: #f26a44;
  left: 23px;
  top: -11px;
  padding: 0 5px;
}
.name input,
textarea {
  width: 100%;
  padding: 10px 20px;
  padding-left: 10px;
  border: 4px solid #f26a44;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  font-size: 16px;
}
.name input,
textarea::placeholder {
  font-size: 16px;
}
.send-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f26a44;
  display: inline-block;
  border-radius: 30px;
  color: #212121;
  transition: 0.3s all ease-in;
}
.send-btn:hover {
  background-color: #e1e0e0;
  cursor: pointer;
  transform: scale(1.09);
}
.send-btn button {
  padding: 14px 20px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.send-btn i {
  font-size: 1.3rem;
  padding-right: 20px;
}
.online-contact {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.online-contact1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.online-contact1 i {
  width: 40px;
  height: 40px;
  background-color: #f56539;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
  transition: 0.3s all ease-in;
}
.online-contact1 p {
  color: #e1e0e0;
  font-size: 17px;
}
#contact-icon i {
  width: 40px;
  height: 40px;
  font-size: 22px;
  margin-top: 40px;
  transition: 0.3s all ease-in;
}
.online-contact i:hover {
  background-color: #e1e0e0;
  cursor: pointer;
  transform: scale(1.12);
}
.footer {
  color: #e1e0e0;
  text-align: center;
  font-size: 20px;
  padding: 10px 0 20px 0;
  font-weight: 500;
}
.footer i {
  color: #f56539;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1100;
  }
  .nav-menu {
    width: 40%;
  }
  .container .left-c {
    display: none;
  }
  .container .right-c {
    width: 100%;
  }
  .profile-img {
    top: 100px;
    left: 225px;
    height: 300px;
    width: 300px;
    padding-left: 20px;
  }
  
  .right-c {
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 400px;
  }
  .right-c h1 {
    width: 80%;
    text-align: center;
    font-size: 40px;
  }
  .right-c h2 {
    color: rgb(234, 234, 234);
  }
  .right-c p {
    width: 80%;
    text-align: center;
  }
  .about {
    height: 100%;
    padding-bottom: 70px;
  }
  .about-second {
    width: 100%;
    margin: auto;
    padding: 0 20px;
  }
  .about-image img {
    display: none;
  }
  .about-content {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .about-content h1 {
    font-size: 35px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
  }
  .about-content p {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  .education {
    background-color: #212121;
    width: 100%;
    padding: 70px 0 70px 0;
  }
  .education-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .education h1 {
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
    padding-bottom: 50px;
  }
  .logo {
    display: none;
  }
  .e-card {
    height: auto;
    margin-left: 40px;
  }
  .education-image img {
    display: none;
  }
  .e-line {
    display: none;
  }
  .skills {
    height: 70vh;
  }
  .skills h1#skill {
    font-size: 35px;
  }
  .scroll-item {
    width: 100px;
    height: 150px;
  }
  .project-section h1#main {
    font-size: 35px;
    text-align: center;
    margin-left: 0px;
  }
  .project-card {
    width: auto;
    flex-direction: column;
    gap: 0px;
    margin: 60px 20px;
  }
  .p-section {
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 0px;
  }
  .p-section2 {
    margin-top: 0px;
  }
  .p-section img#img1 {
    display: none;
  }
  .p-section img#img2 {
    display: none;
  }
  .certificate h1 {
    font-size: 40px;
  }
  .c-section {
    flex-direction: column;
    padding: 100px 20px;
  }
  .c-card {
    width: 380px;
  }
  .c-card img {
    width: 180px;
    height: 180px;
  }
  .c-content h2 {
    font-size: 20px;
  }

  .contact-section h1 {
    text-align: center;
    font-size: 40px;
    padding-left: 0px;
  }
  .contact-list {
    flex-direction: column;
    gap: 0px;
  }
  .filler-contact {
    height: 500px;
    width: 370px;
  }
  .online-contact {
    height: 500px;
    width: 370px;
    margin-top: 20px;
  }
  .online-contact1 p {
    color: #e1e0e0;
    font-size: 15px;
    width: 80%;
  }
  #contact-icon i {
    margin-top: 30px;
  }
  .footer {
    margin-top: -80px;
  }
}
@media (max-width :480px) {
   .profile-img {
    top: 100px;
    left: 60px;
    height: 300px;
    width: 300px;
    padding-left: 20px;
  }
  .nav-menu {
    width: 70%;
  }
}
@media (max-width :380px) {
   .profile-img {
    top: 70px;
    left: 55px;
    height: 250px;
    width: 250px;
    padding-left: 20px;
  }
}